body{
    background: papayawhip;
}

h1{
    color: gold;
    text-shadow: 3px 2px black;
    text-align: center;
}

h2{
    color: purple;
}

ul{
    list-style-type: none;
}

ul.input{
    border-style: double;
    border-color: red;
    line-height: 30px;
    text-align: left;

}

ul.output4{
    color: blue;
    line-height: 50px;
    /*border-style: dashed;
    border-color: green;*/
}

ul.output3{
    color: blue;
    line-height: 50px;
    /*border-style: dashed;
    border-color: orange;*/
}

.ads{
    border: double red;
}

.sites{
    width: 25%;
    height: 100px;
    border-style: solid;
    border-color: yellow;
    float: left;
    padding: 2%;
    margin: 2%;
    padding: 10px;
    text-align: center;
}

input{
    display: block;
    width: 40%;
    margin-bottom: 10px;
}

.game{
    border: dashed gold;
    height: 80%;
    margin: 5px;
    width: 80%;
    padding: 7px;
}

a:link {
    color: red;
}

a:visited {
    color: blue;
}

#find{
    margin-top: 20px;
}